In [1]:
import pandas as pd
import numpy as np
import re
from functools import reduce
import seaborn as sns
import missingno as msno
%matplotlib inline

import matplotlib.pyplot as plt
from scipy.stats import norm

In [2]:
# Set the figure size - handy for larger output
from matplotlib import pyplot as plt
plt.rcParams["figure.figsize"] = [10, 6]
# Set up with a higher resolution screen (useful on Mac)
%config InlineBackend.figure_format = 'retina'

In [3]:
import pandas as pd
import numpy as np
import re
from functools import reduce
import seaborn as sns
import missingno as msno
%matplotlib inline

from dask.dataframe import from_pandas
from dataprep.clean import clean_country

## import data

In [4]:
data = pd.read_pickle('D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/countries_last_author.pkl')#.reset_index()

data2 = data.rename(columns={"UT (Unique WOS ID)": "wos_ID"}).set_index(['wos_ID','Publication Year'])

data

,UT (Unique WOS ID),Publication Year,"Times Cited, All Databases",Author Full Names,Addresses,last_author,United States,Algeria,Argentina,Armenia,...,Turkey,Turkmenistan,United Arab Emirates,Uganda,Ukraine,Uruguay,Uzbekistan,Venezuela,Vietnam,Zimbabwe
0,wos:a1975ak27200035,1975,106.0,"modrich, p; richardson, cc","harvard univ, med sch, dept biol chem, boston,...","richardson, cc",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,wos:a1975bb78600005,1975,28.0,"esche, h; schweiger, m; trautner, ta","max planck inst molek genet,abt trautner,ihne ...","trautner, ta",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,wos:a1975ak49300025,1975,50.0,"jazwinski, sm; lindberg, aa; kornberg, a","stanford univ, sch med, dept biochem, stanford...","kornberg, a",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,wos:a1975al49000001,1975,31.0,"silberstein, s; inouye, m; studier, fw","suny, dept biochem, stony brook, ny 11794 usa;...","studier, fw",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,wos:a1975ay53300001,1975,3.0,"levy, jn","univ washington, dept genet, seattle, wa 98105...","levy, jn",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57212,wos:000968835000001,2023,NaN,"lan, jinxin; wu, yao; lin, changmei; chen, jia...","[lan, jinxin; wu, yao; lin, changmei; chen, ji...","cao, shilin",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57213,wos:000933339800001,2023,NaN,"hirao, rie; shigetoh, keisuke; inagaki, shinji...","[hirao, rie; shigetoh, keisuke; inagaki, shinj...","ishida, nobuhiro",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57214,wos:000914484900001,2023,5.0,"brogna, carlo; cristoni, simone; brogna, barba...","[brogna, carlo; bisaccia, domenico rocco] dept...","piscopo, marina",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57215,wos:001003139700001,2023,NaN,"lee, l. y. y.; landry, s. a.; jamriska, m.; su...","[lee, l. y. y.; subbarao, k.] univ melbourne, ...","mcgain, f.",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57216,wos:000912073200001,2023,1.0,"lee, mieun; heo, yu been; woo, han min","[lee, mieun; heo, yu been; woo, han min] sungk...","woo, han min",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data2.columns.to_list()

['Times Cited, All Databases',
 'Author Full Names',
 'Addresses',
 'last_author',
 'United States',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'Cameroon',
 'Canada',
 'Chile',
 'Colombia',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Ecuador',
 'Egypt',
 'United Kingdom',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Latvia',
 'Lebanon',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malaysia',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Paraguay',
 'China',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tanzania',
 'Thailand',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'United Arab Emirates',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Zimbabwe']

In [6]:
len(data2.columns.to_list())

114

# GROUP of countries

In [7]:
## BY REGION

### UN REGION GROUP  (13/07/2023)

https://unstats.un.org/unsd/methodology/m49/

In [8]:
# Africa

In [9]:
## Northern Africa

In [10]:
un_north_africa = ['Morocco', 'Egypt', 'Algeria', 'Tunisia', 'Libya', 'Sudan','Western Sahara']

In [11]:
## Sub-Saharan Africa

In [12]:
# Eastern Africa
un_eastern_africa = [ 'Burundi', 'Comoros', 'Djibouti','Eritrea','Ethiopia','Kenya','Madagascar',
                     'Malawi', 'Mauritius','Mozambique', 'Rwanda','Seychelles',
                     'Somalia', 'South Sudan', 'Uganda', 'Tanzania', 'Zambia','Zimbabwe',
                     'British Indian Ocean Territory', 'French Southern Territories', 'Mayotte', 'Réunion', 'Reunion'
                    ]

#

In [13]:
# Middle Africa or central africa
un_middle_africa = ['Angola','Cameroon','Congo Republic','Central African Republic','Chad','DR Congo',
                 'Equatorial Guinea','Gabon','Sao Tome and Principe']

In [14]:
# Southern Africa
un_Southern_africa = ['Botswana','Eswatini','Lesotho','Namibia','South Africa'                  
                  ]

In [15]:
# Western Africa
un_Western_africa = ['Benin','Burkina Faso','Cabo Verde',"Cote d'Ivoire",'Gambia','Ghana','Guinea',
                  'Guinea-Bissau','Liberia','Mali','Mauritania','Niger','Nigeria','Senegal', 
                  'Sierra Leone','Togo','Saint Helena','St. Helena']
#

In [16]:
# Americas

In [17]:
## Latin America and the Caribbean

In [18]:
un_Latin_America_and_the_Caribbean = ['Anguilla','Antigua and Barbuda','Aruba','Bahamas','Barbados',
                                      'Bonaire, Sint Eustatius and Saba','Bonaire, Saint Eustatius and Saba','British Virgin Islands','Cayman Islands','Cuba','Curaçao','Curacao',
                                      'Dominica','Dominican Republic','Grenada','Guadeloupe','Haiti','Jamaica','Martinique',
                                      'Montserrat','Puerto Rico','Saint Barthélemy','St. Barths','Saint Kitts and Nevis','St. Kitts and Nevis','Saint Lucia','St. Lucia',
                                      'Saint Martin (French Part)','Saint-Martin','Saint Vincent and the Grenadines','St. Vincent and the Grenadines','Sint Maarten (Dutch part)','Sint Maarten',
                                      'Trinidad and Tobago','Turks and Caicos Islands','United States Virgin Islands']

In [19]:
## Northern America

In [20]:
un_Northern_America = ['Bermuda','Canada','Greenland','Saint Pierre and Miquelon','St. Pierre and Miquelon',
                       'United States of America','United States']

In [21]:
# Asia

In [22]:
## Central Asia

In [23]:
un_Central_Asia = ['Kazakhstan','Kyrgyzstan','Kyrgyz Republic','Tajikistan','Turkmenistan','Uzbekistan']

In [24]:
## Eastern Asia

In [25]:
un_Eastern_Asia = ['China','China, Hong Kong Special Administrative Region','China, Macao Special Administrative Region',"Democratic People's Republic of Korea",
                   'North Korea','Japan','Mongolia','Republic of Korea','South Korea']

In [26]:
## South-eastern Asia

In [27]:
un_South_eastern_Asia = ['Brunei Darussalam','Cambodia','Indonesia',"Lao People's Democratic Republic",'Laos','Malaysia',
                         'Myanmar','Philippines','Singapore','Thailand','Timor-Leste','Viet Nam','Vietnam']

In [28]:
## Southern Asia

In [29]:
un_Southern_Asia = ['Afghanistan','Bangladesh','Bhutan','India','Iran (Islamic Republic of)','Iran','Maldives',
                    'Nepal','Pakistan','Sri Lanka']

In [30]:
## Western Asia

In [31]:
un_Western_Asia = ['Armenia','Azerbaijan','Bahrain','Cyprus','Georgia','Iraq','Israel','Jordan','Kuwait',
                   'Lebanon','Oman','Qatar','Saudi Arabia','State of Palestine','Palestine','Syrian Arab Republic','Syria',
                   'Türkiye','Turkey','United Arab Emirates','Yemen']

In [32]:
# Europe

In [33]:
## Eastern Europe

In [34]:
un_Eastern_Europe = ['Belarus','Bulgaria','Czechia','Czech Republic','Hungary','Poland','Republic of Moldova','Moldova',
                     'Romania','Russian Federation','Russia','Slovakia','Ukraine']

In [35]:
## Northern Europe

In [36]:
un_Northern_Europe = ['Åland Islands','Aland Islands','Guernsey','Jersey','Sark','Denmark','Estonia','Faroe Islands','Faeroe Islands','Finland',
                      'Iceland','Ireland','Isle of Man','Latvia','Lithuania','Norway','Svalbard and Jan Mayen Islands',
                      'Sweden','United Kingdom of Great Britain and Northern Ireland','United Kingdom']

In [37]:
## Southern Europe

In [38]:
un_Southern_Europe = ['Albania','Andorra','Bosnia and Herzegovina','Croatia','Gibraltar','Greece',
                      'Holy See','Vatican','Italy','Malta','Montenegro','North Macedonia','Macedonia','Portugal','San Marino',
                      'Serbia','Slovenia','Spain']

In [39]:
## Western Europe

In [40]:
un_Western_Europe = ['Austria','Belgium','France','Germany','Liechtenstein','Luxembourg','Monaco','Netherlands (Kingdom of the)','Netherlands','Switzerland']

In [41]:
# Oceania

In [42]:
## Australia and New Zealand

In [43]:
un_Australia_and_New_Zealand = ['Australia','Christmas Island','Cocos (Keeling) Islands','Heard Island and McDonald Islands','Heard and McDonald Islands','New Zealand','Norfolk Island']

In [44]:
## Melanesia

In [45]:
un_Melanesia = ['Vanuatu','Solomon Islands','Papua New Guinea','New Caledonia','Fiji']

In [46]:
## Micronesia

In [47]:
un_Micronesia = ['Guam','Kiribati','Marshall Islands','Micronesia (Federated States of)','Micronesia, Fed. Sts.','Nauru',
                 'Northern Mariana Islands','Palau','United States Minor Outlying Islands']

In [48]:
## Polynesia

In [49]:
un_Polynesia = ['American Samoa','Cook Islands','Niue','Pitcairn','French Polynesia','Samoa',
                'Tokelau','Tonga','Tuvalu','Wallis and Futuna Islands']

### WORLD BANK GROUP (13/07/2023)

https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups

In [50]:
wb_east_asia_and_pacific = ['South Korea','Philippines','Australia',  'Singapore', 'Malaysia',
                            'China', 'Thailand','Indonesia','Japan','New Zealand','Vietnam',
                           'Kiribati','French Polynesia','Guam','Nauru','Tuvalu','Palau',
                            'Northern Mariana Islands','Tonga','Vanuatu','Samoa','Cambodia',
                           'American Samoa','Brunei Darussalam','Korea, Rep.','Lao PDR','Mongolia',
                            'Macao SAR, China','Solomon Islands','Taiwan, China','Papua New Guinea',
                            'Marshall Islands','Fiji','Myanmar',"Korea, Dem. People's Rep.",
                            'Micronesia, Fed. Sts.','New Caledonia','Timor-Leste','South Korea','Laos','North Korea',
                            'Hong Kong SAR, China']

In [51]:
wb_europe_and_central_asia = ['Norway','Greece','Poland','Portugal','Austria','Hungary','Russia','Russian Federation',
                              'Belgium','Serbia','Italy','Slovakia','Slovak Republic','Bulgaria','Kazakhstan','Spain',
                              'Croatia','Sweden','Switzerland','Czech Republic','Denmark','Turkey','Türkiye','Ukraine',
                              'Finland','United Kingdom','France','Netherlands','Germany',
                              
                              'Albania','Gibraltar','Andorra','Armenia','Greenland','Romania','Azerbaijan','Iceland',
                            'Belarus','Ireland','San Marino','Isle of Man','Bosnia and Herzegovina', 'Slovenia',
                            'Channel Islands','Kosovo','Kyrgyz Republic','Cyprus','Latvia','Liechtenstein','Tajikistan',
                            'Lithuania','Estonia','Luxembourg','Turkmenistan','Faroe Islands','Moldova','Monaco',
                            'Montenegro','Uzbekistan','Georgia','North Macedonia','Faeroe Islands','Slovakia','Macedonia'
                             ]

In [52]:
wb_latin_america_and_the_caribbean = ['Argentina','Peru','Ecuador','Belize','Brazil','Honduras','Colombia',
                                   'Costa Rica','Venezuela','Venezuela, RB','Panama','Puerto Rico','Sint Maarten (Dutch part)',
                                    'St. Martin (French part)','Virgin Islands (U.S.)','British Virgin Islands',
                                    'Cayman Islands','Turks and Caicos Islands','Sint Maarten','Saint-Martin','United States Virgin Islands','Bahamas',
                                      
                                      'Antigua and Barbuda','Curacao','Paraguay','Dominica','Aruba','Dominican Republic',
                                      'Bahamas, The','Barbados','El Salvador','St. Kitts and Nevis','Grenada','St. Lucia',
                                      'Bolivia','Guatemala','Guyana','St. Vincent and the Grenadines','Haiti','Suriname',
                                      'Trinidad and Tobago','Chile','Jamaica','Mexico','Uruguay','Nicaragua','Cuba',
                                      'Panama']

In [53]:
wb_middle_east_and_north_africa = ['Jordan','Saudi Arabia','Lebanon','Egypt','Iran','United Arab Emirates','Iraq',
                                   'Morocco','Israel','Egypt, Arab Rep.','Iran, Islamic Rep.','Yemen','Syria','Palestine',
                                   
                                   'West Bank and Gaza','Algeria','Qatar','Bahrain','Kuwait','Djibouti','Lebanon',
                                   'Syrian Arab Republic','Libya','Tunisia','Malta','Oman','Israel','Yemen, Rep.'
                                  ]
#','

In [54]:
wb_north_america = ['Canada','United States','Bermuda']

In [55]:
wb_south_asia = ['Afghanistan','India','Pakistan','Bangladesh','Nepal','Maldives','Bhutan','Sri Lanka']

In [56]:
wb_sub_saharan_africa = ['Angola','Gabon', 'Nigeria', 'Burkina Faso','Ghana','Guinea','Senegal', 
                         'Central African Republic','Congo Republic','Sierra Leone','South Africa',
                      'DR Congo','Malawi','Mali','Tanzania',"Cote d'Ivoire",'Uganda','Zambia','Zimbabwe',
                        
                        'Ethiopia','Niger','Benin','Botswana','Gambia, The','Rwanda','São Tomé and Principe',
                         'Burundi','Cabo Verde','Guinea-Bissau','Seychelles','Cameroon','Kenya','Lesotho',
                         'Somalia','Chad','Liberia','Comoros','Madagascar','South Sudan','Congo, Dem. Rep.','Gambia','Sao Tome and Principe','DR Congo','Congo Republic',
                         'Sudan','Congo, Rep','Mauritania','Togo','Equatorial Guinea','Mauritius','Uganda',
                         'Eritrea','Mozambique','Eswatini','Namibia','Zimbabwe'
                        ]

### GLOBAL SOUTH COUNTRIES  (28/07/2023)

http://www.fc-ssc.org/en/partnership_program/south_south_countries

In [57]:
global_south = ['Afghanistan', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belize', 'Benin', 'Bhutan', 
                'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 
                'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Côte d'Ivoire", 'Cuba', "Democratic People's Republic of Korea",
                'Democratic Republic of the Congo', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 
                'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 
                'Iran',  'Iraq', 'Jamaica', 'Jordan', 'Kenya', 'Kiribati', 'Kuwait', 'Lao',  'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 
                'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Micronesia',  'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 
                'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Qatar', 'Rwanda',
                'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Seychelles', 
                'Sierra Leone', 'Singapore', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname', 
                'Swaziland', 'Syrian',  'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Uganda', 
                'United Arab Emirates', 'Tanzania', 'Uruguay', 'Vanuatu', 'Venezuela', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe',
               
               'Congo Republic','North Korea','DR Congo','Laos','Micronesia, Fed. Sts.','St. Kitts and Nevis','St. Lucia','St. Vincent and the Grenadines',
                'Eswatini','Vietnam','Syria','Palestine',"Cote d'Ivoire",'Cabo Verde']

In [58]:
global_south_not_china = ['Afghanistan', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belize', 'Benin', 'Bhutan', 
                'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 
                'Central African Republic', 'Chad', 'Chile', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Côte d'Ivoire", 'Cuba', "Democratic People's Republic of Korea",
                'Democratic Republic of the Congo', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 
                'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 
                'Iran',  'Iraq', 'Jamaica', 'Jordan', 'Kenya', 'Kiribati', 'Kuwait', 'Lao',  'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 
                'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Micronesia',  'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 
                'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Qatar', 'Rwanda',
                'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Seychelles', 
                'Sierra Leone', 'Singapore', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname', 
                'Swaziland', 'Syrian',  'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Uganda', 
                'United Arab Emirates', 'Tanzania', 'Uruguay', 'Vanuatu', 'Venezuela', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe',
               
               'Congo Republic','North Korea','DR Congo','Laos','Micronesia, Fed. Sts.','St. Kitts and Nevis','St. Lucia','St. Vincent and the Grenadines',
                'Eswatini','Vietnam','Syria','Palestine',"Cote d'Ivoire",'Cabo Verde']

### BY INCOME  (13/07/2023)

https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups

In [59]:
# LOW-INCOME ECONOMIES ($1,135 OR LESS) 
wb_low_income_economies = ['Afghanistan','Burkina Faso','Central African Republic',
                        'Malawi','DR Congo','Mali','Uganda','Sierra Leone','North Korea','Syria','Gambia','Yemen','DR Congo',
                          
                          "Korea, Dem. People's Rep",'South Sudan','Liberia','Sudan','Burundi','Madagascar',
                           'Syrian Arab Republic','Togo','Chad','Congo, Dem. Rep','Mozambique','Yemen, Rep.',
                           'Eritrea','Niger','Ethiopia','Rwanda','Gambia, The','Guinea-Bissau','Somalia'
                          ]

In [60]:
# LOWER-MIDDLE INCOME ECONOMIES ($1,136 TO $4,465)   
wb_lower_middle_income_economies = ['Angola', 'India', 'Philippines', 'Bangladesh', 'Iran',"Iran, Islamic Rep",'Guinea',
                                  'Senegal','Morocco','Tanzania', 'Lebanon','Ukraine',"Cote d'Ivoire",'Egypt','Egypt, Arab Rep.','Vietnam',
                                    'Nepal','Zimbabwe','Ghana','Nigeria','Pakistan','Honduras','Kiribati', 'Zambia','Vietnam','Sao Tome and Principe','Laos',
                                    
                                   'Jordan','Algeria','Samoa','São Tomé and Principe','Benin','Kenya','Senegal','Bhutan','Bolivia',
                                    'Solomon Islands','Kyrgyz Republic','Sri Lanka','Cabo Verde','Lao PDR','Cambodia','Tajikistan',
                                    'Cameroon','Lesotho','Timor-Leste','Comoros','Mauritania','Tunisia','Congo, Rep.',
                                    'Micronesia, Fed. Sts.','Mongolia','Uzbekistan','Djibouti','Vanuatu','Myanmar',
                                    'Eswatini','Nepal','Zambia','Nicaragua','Haiti','Papua New Guinea' ]

In [61]:
# UPPER-MIDDLE-INCOME ECONOMIES ($4,466 TO $13,845) 
wb_upper_middle_income_economies = ['Gabon','Argentina','Indonesia','West Bank and Gaza','Peru','Russia','Belize','Iraq',
                                    'Serbia','South Africa','Jordan','Brazil','Kazakhstan','Bulgaria','China','Thailand',
                                    'Colombia','Malaysia','Costa Rica','Turkey','Ecuador', 'Tuvalu','Palau','Palestine','Macedonia',
                                   
                                  'Albania','Fiji','North Macedonia','Argentina','Gabon','Armenia','Georgia','Paraguay',
                                    'Azerbaijan','Grenada','Peru','Belarus','Guatemala','Russian Federation','Belize','Indonesia',
                                    'Serbia','Bosnia and Herzegovina','Iraq','South Africa','Botswana','Jamaica','St. Lucia',
                                    'Brazil','Kazakhstan','St. Vincent and the Grenadines','Bulgaria','Kosovo','Suriname','China',
                                    'Libya','Thailand','Colombia','Malaysia','Tonga','Costa Rica','Maldives','Türkiye','Cuba','Marshall Islands', 
                                    'Turkmenistan','Dominica','Mauritius','Tuvalu','Dominican Republic','Mexico','West Bank and Gaza',
                                    'El Salvador','Moldova','Equatorial Guinea','Montenegro','Ecuador','Namibia'
                                   ]

In [62]:
# HIGH-INCOME ECONOMIES ($13,846 OR MORE)  

wb_high_income_economies = [ 'Greece','Poland', 'Portugal','Australia','Austria','Hungary','Saudi Arabia','Belgium',
                            'Israel','Singapore','Italy','Japan','Slovakia','South Korea','Canada','Spain','Sweden',
                            'Croatia','Switzerland','Czech Republic','Denmark','United Arab Emirates','Netherlands',
                            'United Kingdom','United States','Finland','New Zealand','France','Norway','Germany',
                            'Panama','Channel Islands','Gibraltar','Aruba','Northern Mariana Islands','Virgin Islands (U.S.)',
                            'Nauru','Sint Maarten (Dutch part)','Isle of Man','British Virgin Islands','Cayman Islands',
                            'French Polynesia','Faroe Islands','Turks and Caicos Islands','St. Martin (French part)',
                            'Guam','Puerto Rico', 'Greenland','United States Virgin Islands','Sint Maarten','Faeroe Islands','Saint-Martin',
                            'United States Virgin Islands','Faeroe Islands','China','China','Curacao','Saint-Martin',
                            'South Korea','Slovakia','Sint Maarten','Bahamas',

                            'American Samoa','Germany','Oman','Andorra','Gibraltar','Panama','Antigua and Barbuda','Greece',
                            'Poland','Aruba','Greenland','Portugal','Australia','Guam','Puerto Rico','Austria','Hong Kong SAR, China',
                            'Qatar','Bahamas, The','Hungary','Romania','Bahrain','Iceland','San Marino','Barbados','Ireland',
                            'Saudi Arabia','Belgium','Isle of Man','Seychelles','Bermuda','Israel','Singapore','British Virgin Islands',
                            'Italy','Sint Maarten (Dutch part)','Brunei Darussalam','Japan','Slovak Republic','Canada',
                            'Korea, Rep.','Slovenia','Cayman Islands','Kuwait','Spain','Channel Islands','Latvia',
                            'St. Kitts and Nevis','Chile','Liechtenstein','St. Martin (French part)','Croatia','Lithuania',
                            'Sweden','Curaçao','Luxembourg','Switzerland','Cyprus','Macao SAR, China','Taiwan, China','Czech Republic',
                            'Malta','Trinidad and Tobago','Denmark','Monaco','Turks and Caicos Islands','Estonia','Nauru',
                            'United Arab Emirates','Faroe Islands','Netherlands','United Kingdom','Finland','New Caledonia',
                            'United States','France','New Zealand','Uruguay','French Polynesia','Northern Mariana Islands',
                            'Virgin Islands (U.S.)','Guyana','Norway','United States'
                           ]

In [63]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    "country": global_south
})
from dataprep.clean import clean_country
result = clean_country(df, "country")


result
result.head(60)

C:\Users\dmbog\anaconda3\lib\site-packages\dask\dataframe\core.py:6169: FutureWarning: Meta is not valid, `map_partitions` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|                                                                                            | 0/8 [00:00<…

Country Cleaning Report:
	14 values cleaned (9.46%)
Result contains 148 (100.0%) values in the correct format and 0 null values (0.0%)

                                  country             country_clean
0                             Afghanistan               Afghanistan
1                                 Algeria                   Algeria
2                                  Angola                    Angola
3                     Antigua and Barbuda       Antigua and Barbuda
4                               Argentina                 Argentina
5                                 Bahamas                   Bahamas
6                                 Bahrain                   Bahrain
7                              Bangladesh                Bangladesh
8                                Barbados                  Barbados
9                                  Belize                    Belize
10                                  Benin                     Benin
11                                 Bhutan                    Bhutan
12                                Bolivia                   Bolivia
13                 Bosnia and Herzegovina    Bosnia and Herzegovina
14                               Botswana                  Botswana
15                                 Brazil                    Brazil
16                      Brunei Darussalam         Brunei Darussalam
17                           Burkina Faso              Burkina Faso
18                                Burundi                   Burundi
19                               Cambodia                  Cambodia
20                               Cameroon                  Cameroon
21                             Cape Verde                Cabo Verde
22               Central African Republic  Central African Republic
23                                   Chad                      Chad
24                                  Chile                     Chile
25                                  China                     China
26                               Colombia                  Colombia
27                                Comoros                   Comoros
28                                  Congo            Congo Republic
29                             Costa Rica                Costa Rica
30                         Côte d'Ivoire             Cote d'Ivoire
31                                   Cuba                      Cuba
32  Democratic People's Republic of Korea               North Korea
33       Democratic Republic of the Congo                  DR Congo
34                               Djibouti                  Djibouti
35                               Dominica                  Dominica
36                     Dominican Republic        Dominican Republic
37                                Ecuador                   Ecuador
38                                  Egypt                     Egypt
39                            El Salvador               El Salvador
40                      Equatorial Guinea         Equatorial Guinea
41                                Eritrea                   Eritrea
42                               Ethiopia                  Ethiopia
43                                   Fiji                      Fiji
44                                  Gabon                     Gabon
45                                 Gambia                    Gambia
46                                  Ghana                     Ghana
47                                Grenada                   Grenada
48                              Guatemala                 Guatemala
49                                 Guinea                    Guinea
50                          Guinea-Bissau             Guinea-Bissau
51                                 Guyana                    Guyana
52                                  Haiti                     Haiti
53                               Honduras                  Honduras
54                                  India                     India
55                              Indonesia                 Indonesia
56                                   Iran                      Iran
57                                   Iraq                      Iraq
58                                Jamaica                   Jamaica
59                                 Jordan                    Jordan

In [64]:
'Congo Republic','North Korea','DR Congo','Laos','Micronesia, Fed. Sts.',
'St. Kitts and Nevis','St. Lucia','St. Vincent and the Grenadines','Eswatini','Vietnam','Syria','Palestine',"Cote d'Ivoire",'Cabo Verde'

('St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Eswatini',
 'Vietnam',
 'Syria',
 'Palestine',
 "Cote d'Ivoire",
 'Cabo Verde')

In [65]:
result.iloc[60:120]

                              country                   country_clean
60                              Kenya                           Kenya
61                           Kiribati                        Kiribati
62                             Kuwait                          Kuwait
63                                Lao                            Laos
64                            Lebanon                         Lebanon
65                            Lesotho                         Lesotho
66                            Liberia                         Liberia
67                              Libya                           Libya
68                         Madagascar                      Madagascar
69                             Malawi                          Malawi
70                           Malaysia                        Malaysia
71                           Maldives                        Maldives
72                               Mali                            Mali
73                   Marshall Islands                Marshall Islands
74                         Mauritania                      Mauritania
75                          Mauritius                       Mauritius
76                         Micronesia           Micronesia, Fed. Sts.
77                           Mongolia                        Mongolia
78                            Morocco                         Morocco
79                         Mozambique                      Mozambique
80                            Myanmar                         Myanmar
81                            Namibia                         Namibia
82                              Nauru                           Nauru
83                              Nepal                           Nepal
84                          Nicaragua                       Nicaragua
85                              Niger                           Niger
86                            Nigeria                         Nigeria
87                               Oman                            Oman
88                           Pakistan                        Pakistan
89                             Panama                          Panama
90                   Papua New Guinea                Papua New Guinea
91                           Paraguay                        Paraguay
92                               Peru                            Peru
93                        Philippines                     Philippines
94                              Qatar                           Qatar
95                             Rwanda                          Rwanda
96              Saint Kitts and Nevis             St. Kitts and Nevis
97                        Saint Lucia                       St. Lucia
98   Saint Vincent and the Grenadines  St. Vincent and the Grenadines
99                              Samoa                           Samoa
100             Sao Tome and Principe           Sao Tome and Principe
101                      Saudi Arabia                    Saudi Arabia
102                           Senegal                         Senegal
103                        Seychelles                      Seychelles
104                      Sierra Leone                    Sierra Leone
105                         Singapore                       Singapore
106                   Solomon Islands                 Solomon Islands
107                           Somalia                         Somalia
108                      South Africa                    South Africa
109                       South Sudan                     South Sudan
110                         Sri Lanka                       Sri Lanka
111                State of Palestine                       Palestine
112                             Sudan                           Sudan
113                          Suriname                        Suriname
114                         Swaziland                        Eswatini
115                            Syrian                           Syria
116                        Tajikistan                      Tajikistan
117                          Thailand                        Thailand
118                       Timor-Leste                     Timor-Leste
119                              Togo                            Togo

In [66]:
result.tail(60)

                              country                   country_clean
88                           Pakistan                        Pakistan
89                             Panama                          Panama
90                   Papua New Guinea                Papua New Guinea
91                           Paraguay                        Paraguay
92                               Peru                            Peru
93                        Philippines                     Philippines
94                              Qatar                           Qatar
95                             Rwanda                          Rwanda
96              Saint Kitts and Nevis             St. Kitts and Nevis
97                        Saint Lucia                       St. Lucia
98   Saint Vincent and the Grenadines  St. Vincent and the Grenadines
99                              Samoa                           Samoa
100             Sao Tome and Principe           Sao Tome and Principe
101                      Saudi Arabia                    Saudi Arabia
102                           Senegal                         Senegal
103                        Seychelles                      Seychelles
104                      Sierra Leone                    Sierra Leone
105                         Singapore                       Singapore
106                   Solomon Islands                 Solomon Islands
107                           Somalia                         Somalia
108                      South Africa                    South Africa
109                       South Sudan                     South Sudan
110                         Sri Lanka                       Sri Lanka
111                State of Palestine                       Palestine
112                             Sudan                           Sudan
113                          Suriname                        Suriname
114                         Swaziland                        Eswatini
115                            Syrian                           Syria
116                        Tajikistan                      Tajikistan
117                          Thailand                        Thailand
118                       Timor-Leste                     Timor-Leste
119                              Togo                            Togo
120                             Tonga                           Tonga
121               Trinidad and Tobago             Trinidad and Tobago
122                           Tunisia                         Tunisia
123                      Turkmenistan                    Turkmenistan
124                            Uganda                          Uganda
125              United Arab Emirates            United Arab Emirates
126                          Tanzania                        Tanzania
127                           Uruguay                         Uruguay
128                           Vanuatu                         Vanuatu
129                         Venezuela                       Venezuela
130                          Viet Nam                         Vietnam
131                             Yemen                           Yemen
132                            Zambia                          Zambia
133                          Zimbabwe                        Zimbabwe
134                    Congo Republic                  Congo Republic
135                       North Korea                     North Korea
136                          DR Congo                        DR Congo
137                              Laos                            Laos
138             Micronesia, Fed. Sts.           Micronesia, Fed. Sts.
139               St. Kitts and Nevis             St. Kitts and Nevis
140                         St. Lucia                       St. Lucia
141    St. Vincent and the Grenadines  St. Vincent and the Grenadines
142                          Eswatini                        Eswatini
143                           Vietnam                         Vietnam
144                             Syria                           Syria
145                         Palestine                       Palestine
146                     Cote d'Ivoire                   Cote d'Ivoire
147                        Cabo Verde                      Cabo Verde

### count group

In [67]:
groups_values =  [
    # UN REGION GROUP
    un_north_africa,un_eastern_africa,un_middle_africa,un_Southern_africa,un_Western_africa,
    un_Latin_America_and_the_Caribbean,un_Northern_America,
    un_Central_Asia,un_Eastern_Asia,un_South_eastern_Asia,un_Southern_Asia,un_Western_Asia,
    un_Eastern_Europe,un_Northern_Europe,un_Southern_Europe,un_Western_Europe,
    un_Australia_and_New_Zealand,un_Melanesia,un_Micronesia,un_Polynesia,
    
    # WB REGION GROUP
    wb_east_asia_and_pacific, wb_europe_and_central_asia, wb_latin_america_and_the_caribbean, wb_middle_east_and_north_africa, wb_north_america, wb_south_asia, wb_sub_saharan_africa,
    
    # WB INCOME GROUP
    wb_low_income_economies, wb_lower_middle_income_economies, wb_upper_middle_income_economies, wb_high_income_economies,
    
    # GLOBAL SOUTH
    global_south, global_south_not_china
                  ]

In [68]:
#groups_values

In [69]:
groups_keys = [
    # UN REGION GROUP
    'un_north_africa','un_eastern_africa','un_middle_africa','un_Southern_africa','un_Western_africa',
    'un_Latin_America_and_the_Caribbean','un_Northern_America',
    'un_Central_Asia','un_Eastern_Asia','un_South_eastern_Asia','un_Southern_Asia','un_Western_Asia',
    'un_Eastern_Europe','un_Northern_Europe','un_Southern_Europe','un_Western_Europe',
    'un_Australia_and_New_Zealand','un_Melanesia','un_Micronesia','un_Polynesia', 
    
    # WB REGION GROUP
    'wb_east_asia_and_pacific', 'wb_europe_and_central_asia', 'wb_latin_america_and_the_caribbean', 'wb_middle_east_and_north_africa', 'wb_north_america', 'wb_south_asia', 'wb_sub_saharan_africa',
    
    # WB INCOME GROUP
    'wb_low_income_economies', 'wb_lower_middle_income_economies', 'wb_upper_middle_income_economies', 'wb_high_income_economies',
    
    # GLOBAL SOUTH
    'global_south', 'global_south_not_china'
                  ]

In [70]:
groups_keys

['un_north_africa',
 'un_eastern_africa',
 'un_middle_africa',
 'un_Southern_africa',
 'un_Western_africa',
 'un_Latin_America_and_the_Caribbean',
 'un_Northern_America',
 'un_Central_Asia',
 'un_Eastern_Asia',
 'un_South_eastern_Asia',
 'un_Southern_Asia',
 'un_Western_Asia',
 'un_Eastern_Europe',
 'un_Northern_Europe',
 'un_Southern_Europe',
 'un_Western_Europe',
 'un_Australia_and_New_Zealand',
 'un_Melanesia',
 'un_Micronesia',
 'un_Polynesia',
 'wb_east_asia_and_pacific',
 'wb_europe_and_central_asia',
 'wb_latin_america_and_the_caribbean',
 'wb_middle_east_and_north_africa',
 'wb_north_america',
 'wb_south_asia',
 'wb_sub_saharan_africa',
 'wb_low_income_economies',
 'wb_lower_middle_income_economies',
 'wb_upper_middle_income_economies',
 'wb_high_income_economies',
 'global_south',
 'global_south_not_china']

In [71]:
# using zip()
# to convert lists to dictionary
groups_keys_values = dict(zip(groups_keys, groups_values))

In [72]:
#groups_keys_values

In [73]:
groups_keys_values['wb_east_asia_and_pacific']

['South Korea',
 'Philippines',
 'Australia',
 'Singapore',
 'Malaysia',
 'China',
 'Thailand',
 'Indonesia',
 'Japan',
 'New Zealand',
 'Vietnam',
 'Kiribati',
 'French Polynesia',
 'Guam',
 'Nauru',
 'Tuvalu',
 'Palau',
 'Northern Mariana Islands',
 'Tonga',
 'Vanuatu',
 'Samoa',
 'Cambodia',
 'American Samoa',
 'Brunei Darussalam',
 'Korea, Rep.',
 'Lao PDR',
 'Mongolia',
 'Macao SAR, China',
 'Solomon Islands',
 'Taiwan, China',
 'Papua New Guinea',
 'Marshall Islands',
 'Fiji',
 'Myanmar',
 "Korea, Dem. People's Rep.",
 'Micronesia, Fed. Sts.',
 'New Caledonia',
 'Timor-Leste',
 'South Korea',
 'Laos',
 'North Korea',
 'Hong Kong SAR, China']

In [74]:
groups_keys_values['wb_south_asia']

['Afghanistan',
 'India',
 'Pakistan',
 'Bangladesh',
 'Nepal',
 'Maldives',
 'Bhutan',
 'Sri Lanka']

In [75]:
# # create a dictionary mapping group keys to a list of valid column names
# # groups_keys_values = {}
# for group_key in groups_keys:
#     valid_columns = [col for col in groups_keys_values[group_key] if col in data2.columns]
#     groups_keys_values[group_key] = valid_columns
# groups_keys_values

In [76]:
def merge_count_columns(data2, groups_keys):
    # create a dictionary mapping group keys to a list of valid column names
#     groups_keys_values = {}
    for group_key in groups_keys:
        valid_columns = [col for col in groups_keys_values[group_key] if col in data2.columns]
        groups_keys_values[group_key] = valid_columns

    # iterate over group keys and count the values in data2
    for group_key in groups_keys:
        data2_cols = groups_keys_values[group_key]
        if len(data2_cols) == 0:
            print(f"No valid columns found for group_key: {group_key}. Skipping...")
            continue
        data2[group_key] = data2[data2_cols].count(axis=1)

    # merge data1 and data2 on the group keys
#     merged_data = pd.merge(data1, data2, on=groups_keys)

    return data2

In [77]:
data_group = merge_count_columns(data2, groups_keys)
data_group.head()

No valid columns found for group_key: un_Melanesia. Skipping...
No valid columns found for group_key: un_Micronesia. Skipping...
No valid columns found for group_key: un_Polynesia. Skipping...

,,"Times Cited, All Databases",Author Full Names,Addresses,last_author,United States,Algeria,Argentina,Armenia,Australia,Austria,...,wb_middle_east_and_north_africa,wb_north_america,wb_south_asia,wb_sub_saharan_africa,wb_low_income_economies,wb_lower_middle_income_economies,wb_upper_middle_income_economies,wb_high_income_economies,global_south,global_south_not_china
wos_ID,Publication Year,,,,,,,,,,,,,,,,,,,,,
wos:a1975ak27200035,1975,106.0,"modrich, p; richardson, cc","harvard univ, med sch, dept biol chem, boston,...","richardson, cc",NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
wos:a1975bb78600005,1975,28.0,"esche, h; schweiger, m; trautner, ta","max planck inst molek genet,abt trautner,ihne ...","trautner, ta",NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
wos:a1975ak49300025,1975,50.0,"jazwinski, sm; lindberg, aa; kornberg, a","stanford univ, sch med, dept biochem, stanford...","kornberg, a",NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
wos:a1975al49000001,1975,31.0,"silberstein, s; inouye, m; studier, fw","suny, dept biochem, stony brook, ny 11794 usa;...","studier, fw",NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
wos:a1975ay53300001,1975,3.0,"levy, jn","univ washington, dept genet, seattle, wa 98105...","levy, jn",NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [78]:
data_group.shape

(57217, 144)

In [79]:
data_group = data_group.replace({0: np.nan})

In [80]:
#save data
data_group.to_pickle('D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/countries_and_un_wb_region_income_last_author.pkl')
data_group.to_csv('D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/countries_and_un_wb_region_income_last_author.csv')
data_group

,,"Times Cited, All Databases",Author Full Names,Addresses,last_author,United States,Algeria,Argentina,Armenia,Australia,Austria,...,wb_middle_east_and_north_africa,wb_north_america,wb_south_asia,wb_sub_saharan_africa,wb_low_income_economies,wb_lower_middle_income_economies,wb_upper_middle_income_economies,wb_high_income_economies,global_south,global_south_not_china
wos_ID,Publication Year,,,,,,,,,,,,,,,,,,,,,
wos:a1975ak27200035,1975,106.0,"modrich, p; richardson, cc","harvard univ, med sch, dept biol chem, boston,...","richardson, cc",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wos:a1975bb78600005,1975,28.0,"esche, h; schweiger, m; trautner, ta","max planck inst molek genet,abt trautner,ihne ...","trautner, ta",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wos:a1975ak49300025,1975,50.0,"jazwinski, sm; lindberg, aa; kornberg, a","stanford univ, sch med, dept biochem, stanford...","kornberg, a",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wos:a1975al49000001,1975,31.0,"silberstein, s; inouye, m; studier, fw","suny, dept biochem, stony brook, ny 11794 usa;...","studier, fw",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wos:a1975ay53300001,1975,3.0,"levy, jn","univ washington, dept genet, seattle, wa 98105...","levy, jn",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wos:000968835000001,2023,NaN,"lan, jinxin; wu, yao; lin, changmei; chen, jia...","[lan, jinxin; wu, yao; lin, changmei; chen, ji...","cao, shilin",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN
wos:000933339800001,2023,NaN,"hirao, rie; shigetoh, keisuke; inagaki, shinji...","[hirao, rie; shigetoh, keisuke; inagaki, shinj...","ishida, nobuhiro",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
wos:000914484900001,2023,5.0,"brogna, carlo; cristoni, simone; brogna, barba...","[brogna, carlo; bisaccia, domenico rocco] dept...","piscopo, marina",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
wos:001003139700001,2023,NaN,"lee, l. y. y.; landry, s. a.; jamriska, m.; su...","[lee, l. y. y.; subbarao, k.] univ melbourne, ...","mcgain, f.",NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
wos:000912073200001,2023,1.0,"lee, mieun; heo, yu been; woo, han min","[lee, mieun; heo, yu been; woo, han min] sungk...","woo, han min",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN